{\rtf1\ansi\ansicpg1252\cocoartf2580
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs24 \cf0 .card \{\
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);\
  transition: 0.3s;\
  width: 40%;\
\}\
.card:hover \{\
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);\
\}}